@model Noticenew

        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <p>
                <strong>Notice ID:</strong> @Model.NoticeId
            </p>
            
            <p>
                <strong>To Date:</strong> @Model.ToDate
            </p>
            
            <p>
                <strong>From Date:</strong> @Model.FromDate
            </p>
            
            <h1 style="text-align:center">
                @Model.NoticeTitle
            </h1>
            <div style="width:500px;height:500px;text-align:center;margin: 0 auto;">
            <p style="text-align:justify;">
                @Html.Raw(Model.NoticePara.Replace("\r\n", "<br />"))
            </p>
            </div>
        </div>
    
        <a asp-controller="Noticenew" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to list
        </a>
    </div>


@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
}
