@model IEnumerable<IGrouping<string, HousingSystem.Models.Maintenance>>


@{
    ViewData["Title"] = "Index";
}
<partial name="_Notification"></partial>
<br><br>
<div class="col-12 text-end">
    <a asp-controller="Maintenance" asp-action="Create" class="btn btn-primary">
        Create Maintenance
    </a>
</div>
<br><br>

@foreach (var monthGroup in Model)
{
    <h2>@monthGroup.Key</h2>
    <table class="table table-border table-striped rounded-2" style="width:100%;text-align:center;background-color: rgba(100,100,100, 0.1) !important">
        <thead class="rounded-2">
            <tr>
                <th>Flat No</th>
                <th>OccupantId</th>
                <th>MaintenanceId</th>
                <th>MonthYear</th>
                <th>Account Head</th>
                <th>Amount</th>
                <th>Remark</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody class="rounded-2">
            @foreach (var obj in monthGroup)
            {
                <tr>
                    <td width="30%">@obj.FlatNo</td>
                    <td width="50%">@obj.OccupantId</td>
                    <td width="30%">@obj.MaintenanceId</td>
                    <td width="30%">@obj.MaintenanceMonthYear</td>
                    <td width="30%">@obj.MaintenanceAccountHead</td>
                    <td width="30%">@obj.MaintenanceAmount</td>
                    <td width="30%">@obj.MaintenanceRemark</td>
                    <td>
                        <div class="m-75 btn-group" role="group">
                            <a asp-controller="Maintenance" asp-action="Edit" asp-route-MaintenanceId="@obj.MaintenanceId" class="btn btn-primary">Edit</a>
                        </div>
                    </td>
                    <td>
                        <div class="m-75 btn-group" role="group">
                            <a asp-controller="Maintenance" asp-action="Delete" asp-route-MaintenanceId="@obj.MaintenanceId" class="btn btn-primary">Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
