@model IEnumerable<Occupant>
@{
    ViewData["Title"] = "Details";

}
<partial name="_Notification"></partial>
<br><br>

    <br><br>
   
<table class="table table-border table-striped rounded-2" style="width:100%;text-align:center;background-color: rgba(100,100,100, 0.1) !important">
    <thead class="rounded-2">
        <tr>
            <th>
                OccupantId
            </th>
            <th>
                FirstName
            </th>
             <th>
                LastName
            </th>
            <th>IsOwned
                </th>
             <th>
                Phone
            </th>
             <th>
                Email
            </th>
            
             <th>
                Start Date
            </th>
            <th>
                End Date
            </th>
             <th>
                Flat No
            </th>
             <th>
                Owner Id
            </th>
            </tr>
    </thead>
    <tbody class="rounded-2">
    @foreach(var obj in Model)
    {
        <tr >
            <td width="50%">
                @obj.OccupantId
            </td>
             <td width="30%">
                @obj.OccupantFirstName
            </td>
            <td width="30%">
                @obj.OccupantLastName
            </td>
            <td width="30%">
                @obj.OccupantIsOwned
            </td>
             <td width="30%">
                @obj.OccupantPhone
            </td>
             <td width="30%">
                @obj.OwnerEmailId
            </td>
             <td width="30%">
                @obj.OccupantStartDate
            </td>
            <td width="30%">
                @obj.OccupantEndDate
            </td>
             <td width="30%">
                @obj.FlatNo
            </td>
            <td width="30%">
                @obj.OwnerId
            </td>
            
            <td>
                
        </tr>
    }
    </tbody>
</table>
